.transaction-item-container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  border: 1px solid gray;
  padding: 8px 16px;
}
.transaction-details-container {
  display: flex;
  /* border: 1px solid red; */
  flex-shrink: 1;
  flex-grow: 1;
}
.transaction-details {
  flex-shrink: 1;
  margin: 0 48px 0 0;
}
.type {
  text-transform: capitalize !important;
}
.delete-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.delete-icon {
  width: 100%;
}
